*{
    box-sizing: border-box;
}


body{   
    background-color: #9FC1B8;
    color : #181818;
    background: url("../img/bellecour.jpg") center no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Abadi',Arial, Helvetica, sans-serif;    
}

#bloc_page
{
    height : 100%;
    display: flex;
    flex-flow: column;
    font-family: 'Abadi', Arial, Helvetica, sans-serif;
}

/*header*/
header{
    display: flex;    
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 5px;
    order : 0;
    margin-bottom: 5px;
    height: 6em;
}

#titre_principal{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#logo
{
    display: flex;
    position: absolute;
    top : 10px;
    width: 40%;
}

#logo img
{
    margin-left : 10px;
    width: 82px;
    height: 82px; 
}


nav ul{
    list-style-type: none;
    display: flex;
    height: 80px;
    margin-left: 100px;    
    /*border: 6px solid violet;*/ 
}

nav li{    
    width: 125px;    
    margin-right:100px;    
}
nav a
{   
    text-align: center;
    width: 150px;
    position: absolute;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 1.25em;
    color: rgb(10, 2, 2);        
    font-weight: bolder;    
    text-decoration: none;     
}

#accueil_on{    
    color: white;
    background-color: #006161;
    border-bottom : 4px solid #006161;  
}

#accueil_off{  
    border-bottom : 4px solid #006161;  
}

#accueil_off:hover{    
    color: white;
    background-color: #006161;
    border-bottom : 4px solid #006161;  
}

#connexion_on{
    color: white;
    background-color: #257299;
    border-bottom : 4px solid #257299;
}

#connexion_off{
    border-bottom : 4px solid #257299;
}

#connexion_off:hover{
    color: white;
    background-color: #257299;
    border-bottom : 4px solid #257299;
}

#deconnexion_on{
    color: white;
    background-color: #257299;
    border-bottom : 4px solid #257299;
    padding-bottom: 8px;
}

#petit{
    font-size: 0.5em;
}


#information_on{
    color: white;
    background-color: #5f968e;
    border-bottom : 4px solid #5f968e;
}

#information_off{
    border-bottom : 4px solid #5f968e;
}

#information_off:hover{
    color: white;
    background-color: #5f968e;
    border-bottom : 4px solid #5f968e;
}

#association_on{
    color: white;
    background-color: #f9ca1f;
    border-bottom : 4px solid #f9ca1f;
}

#association_off{
    border-bottom : 4px solid #f9ca1f;
}

#association_off:hover{
    color: white;
    background-color: #f9ca1f;
    border-bottom : 4px solid #f9ca1f;
}

/*section principale*/

aside{
    order : 1;
}

#fenetre_principale{
    display: flex;
    height: 33em;
}

aside{
    flex: 1 0 0;
    margin-right: 5px;
    display : flex;
    flex-direction: column;      
}

#tall{
    text-align: center;
    color: white;
}

#search{
    border :1px solid;
    border-radius: 5px;
}


.searchbar{
    width: 75%;
    text-align: center;
    align-self: center;
    border-radius: 5px 0px 0px 5px;    
}

/* Style the submit button */
#search button {
    float: right;
    width: 25%;
    background: rgba(43, 110, 92, 0.15);
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
  }
  
#search button:hover {
    background: rgba(43, 110, 92);
  }
  
aside h1{    
    text-align: center;
}


#map {
	height: 100%;
    width: 100%;
    order:2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex: 3 0 0;
    box-shadow: 0px 5px 10px rgb(31, 49, 31);
}


#info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33em;
}

.construction {
    text-align: center;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(31, 49, 31);
}

.construction a{
    text-decoration: none;
    color : black;
}
.construction a:hover{
    text-decoration: none;
    color : rgb(40, 71, 56);
    font-weight: bold;
    background-color: rgba(40, 71, 56, 0.589);
    padding: 10px;
    border-radius: 5px;
}

footer{
    margin-top: 15px;
    order:3;
    display : flex;
    height : 50px;
    box-shadow: 0px 5px 10px rgb(31, 49, 31);;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid;
    border-radius: 5px;
    background-color: rgba(78, 123, 124, 0.582);
    font-weight: bold;
}

footer img{
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

footer a{
    text-decoration: none;
}

#lien_footer{
    position :absolute;
    right : 15px;
}