*{
    box-sizing: border-box;
}


/* Définitions générales */
body {
	background-color: rgb(255, 255, 255);
    flex-direction: column;
    display: flex;
}

/* Textes */
body, p {
	font-family: 'Quicksand', Arial,sans-serif;
	color:rgb(0, 0, 0);
	font-size: 15px;
	line-height: 20px;
	font-weight: 200;    
}

/*header*/


#logo
{
    display: flex;
    position: absolute;
    top : 10px;
    width: 40%;
}

#logo img
{
    margin-left : 10px;
    width: 82px;
    height: 82px; 
}

#Ton_action_locale_lyonnaise {
    left: 100px;
    top: 30px;
    position: absolute;
    overflow: visible;
    width: 50%;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    font-size: large;
    color: rgba(18,139,102,1);
}


/* Menu haut */
nav ul{
    list-style-type: none;
    display: flex;
    height: 80px;
    margin-left: 0px;  
    border-bottom : 1px solid rgb(0, 0, 0);
}

nav li{    
    width: 125px;    
    margin-right:100px;  
      
}
nav a
{   
    text-align: center;
    width: 110px;
    position: absolute;
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 1.25em;
    color: rgb(10, 2, 2);        
    font-weight: bolder;    
    text-decoration: none; 
    
}

#accueil{
	left: 50%;
    top: 36px;
    font-size: medium;  
    border-bottom : 3px solid rgba(18,139,102,1); 
}

#connexion{
	left: 65%;
    top: 36px;
    font-size: medium;  
    border-bottom : 3px solid rgba(23,157,147,1);
}

#contact{
	left: 80%;
    top: 36px;
    font-size: medium;  
    border-bottom : 3px solid rgba(70,154,185,1);
}

#profil{
	left: 95%;
    top: 36px;
    font-size: medium;  
    border-bottom : 3px solid rgb(164, 185, 70,1);
}


/*section principale*/

.searchbar{
    width: 80%;
    height: 150%;
    text-align: left;
	align-self: center;
    border-radius:50px ; 
    background-color: rgba(240, 238, 238, 0.493); 
    border-width: 1px; 
}



aside{
    order : 1;
}



#fenetre_principale{
    display: flex;
    height: 35em;
}

aside{
    flex: 1 0 0;
    margin-right: 5px;
    display : flex;
    flex-direction: column;      
}

#aside_right{
    flex: 0 0 1;
    margin-right: 5px;
    display : flex;
    flex-direction: column;
    align-self:stretch;
}

select{
    width: 80%;
    padding: 4px 4px;
    margin: 4px 0;    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: rgb(121, 121, 121);
    border-radius : 5px;     
}





.Tissu_associatif_lyonnais {
    margin-bottom: 50px;
    position: absolute;
    overflow: visible;
    top: 100px;
    width: 80%;
    text-align: left;
    font-style: bold;
    font-size: large;
    color: rgb(0, 0, 0);
}

aside h1{
    
	text-align: left;
    font-size: small;
    margin-top: 20px;
    border-top : 1px solid rgb(0, 0, 0);
}


aside h2{  

	text-align: left;
	font-size: small;
    margin-top: 20px;
    border-top : 1px solid rgb(0, 0, 0);
}

aside h3{  

	text-align: left;
	font-size: small;
    margin-top: 20px;
    border-top : 1px solid rgb(0, 0, 0);
}


#map {
	height: 100%;
    width: 100%;
    order:2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex: 3 0 0;
}


#info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33em;
}

.construction {
    text-align: center;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(31, 49, 31);
}

.construction a{
    text-decoration: none;
    color : black;
}
.construction a:hover{
    text-decoration: none;
    color : rgb(40, 71, 56);
    font-weight: bold;
    background-color: rgba(40, 71, 56, 0.589);
    padding: 10px;
    border-radius: 5px;
}

footer{
    margin-top: 15px;
    order:3;
    display : flex;
    height : 50px;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid;
    border-radius: 5px;
}

footer img{
    margin-left: 15px;
}

footer a{
    text-decoration: none;
}

#lien_footer{
    position :absolute;
    right : 15px;
}

.poulpy {
    color :rgb(31, 49, 31);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


	
/*--------------Dimensions tableau--------------*/

#page-wrap {
    width: 100%; 
    margin: 10px auto;
    
  }
  
/*--------------Onglets--------------*/

.tabs {
    position: relative;   
    min-height: 480px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .tab {
    float: left;
  }
  .tab label {
    background: rgba(170, 185, 185, 0.97);
    padding: 10px; 
    border: 1px solid rgb(82, 83, 83); 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.71);
    bottom: -1px ;
  }
  .tab [type=radio] {
    display: none;   
  }
  
/*--------------Contenu article onglet--------------*/
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid rgb(82, 83, 83); 
    border-radius: 0px 3px 3px 3px;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: -20px;
  }
  .content > * {
    opacity: 0;
    
    -webkit-transform: translate3d(0, 0, 0);
  
    -webkit-transform: translateX(-100%);
    -moz-transform:    translateX(-100%);
    -ms-transform:     translateX(-100%);
    -o-transform:      translateX(-100%);
    
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -ms-transition:     all 0.6s ease;
    -o-transition:      all 0.6s ease;
  }

  .content label{
    background: white;
    padding: 0px; 
    border: 0px; 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.71);
  }
/*-------------Onglets actifs--------------*/

  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  }
  [type=radio]:checked ~ label ~ .content > * {
    opacity: 1;
    
    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    -o-transform:      translateX(0);
  }

  